/* styles.css */

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header Styles */
header {
  background-color: #35424a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
}

.logo {
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-bottom: 0px;
}

nav a:hover {
  color: #ff9900;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 5px 20px;
}

/* Plot Styles */
.plot {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
  background-color: #35424a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}